---
name: build

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:

env:
  GO_VERSION: '1.23'

jobs:
  build:
    if: ${{ github.repository == 'the-chowdary/leetcode-go' || github.event.inputs.manual }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        job_name: ['go1.23']

        include:
          - job_name: go1.23
            os: ubuntu-latest
            go: '1.23.5'
            gotests: true
            integrationtest: true
            check: true

    name: ${{ matrix.job_name }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Build
        shell: bash
        run: |
          go build ./...

      - name: Unit tests
        shell: bash
        run: |
          go test ./...
        if: matrix.gotests

      - name: Code quality test
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
        env:
          GO_VERSION: ${{ matrix.go }}
        if: matrix.check